.project-name-shaped {
  width: 25%;
  height: 100%;
  shape-margin: 10px;
  float: right;
  background-color: white;
}

.gradient-right-slated,
.project-name-shaped {
  shape-outside: polygon(0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.project-name-gradient {
  height: inherit;
  background-color: var(--secondary-color);
}

.project-desc-shaped {
  width: 80%;
  height: 100%;
  shape-outside: polygon(0 0, 20% 100%, 0 100%);
  clip-path: polygon(0 0, 20% 100%, 0 100%);
  float: left;
  background: white;
}

.project-name {
  /* display: inline-block; */
  /* position: relative; */
  /* float: left; */
  height: 100%;
  width: 40%;
  /* padding: 10px; */
}

.project-description {
  height: auto;
  width: 60%;
  position: relative;
  text-align: left;
}
